{# Page d'administration pour la modification d'une formation #}
{% extends "baseadmin.html.twig" %}

{% block body %}
    <h2 class="mb-4 text-center"> Modification d'une formation </h2>
    {# Inclusion du formulaire pour modifier une formation #}
    {{ include('_admin.formation.form.html.twig') }}
{% endblock %}