{% extends "baseadmin.html.twig" %}

{% block body %}
    <h2 class="mb-4 text-center"> Ajout d'une nouvelle formation </h2>
    {# Inclusion du formulaire pour ajouter une formation #}
    {{ include('_admin.formation.form.html.twig') }}
{% endblock %}