{% extends "baseadmin.html.twig" %}

{% block body %}
    <h2 class="mb-4 text-center"> Ajout d'une playlist </h2>
    {# Inclusion du formulaire pour créer une playlist #}
    {{ include('_admin.playlist.form.html.twig') }}
{% endblock %}
